body {
    background-color: #151c2f;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

input:focus::placeholder {
    color: transparent;
}
img{
    border-radius: 50%;
    width:10%;
    height: 14vh;
    vertical-align: middle;
}
@media only screen and (max-width: 600px) {
    header {
        display: flex;
        justify-content: space-around;
        color: white;
        box-sizing: border-box;
        margin-top: 4%;
    }
    #left {
        font-size: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        margin-left: -12%;
        margin-top: 4%;
        letter-spacing: 0.08em;
        line-height: 1em;
    }

    #right {
        font-size: 0.7rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.3em;
        margin-right: -33%;
        margin-top: 6%;
    }

    #lbtn {
        margin-top: 5.5%;
        margin-right: -40px;
    }
    #bar{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid #1f2b48;
        background-color: #1f2b48;
        width: 90%;
        border-radius:7px;
        margin-right: auto;
        margin-left: auto;
        height:9vh;
        margin-top: 7%;
        padding: 2%;
    }
    ::placeholder {
        text-indent: 0.5%;
        font-size: 0.9rem;
        color: white;
        font-family: FontAwesome;
    }

    #search_bar {
        box-sizing: border-box;
        padding-left: 5%;
        height: 7vh;
        border:none;
        margin-right: auto;
        margin-left: auto;
        outline: none;
        letter-spacing: 0.03em;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
       background-color: #1f2b48;
    }
    #search {
        height: 5vh;
        border: none;
        outline: none;
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
        background-color: #0177fe;
        color: white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.03rem;
        border-radius: 4px;
    }
    section {
        border: 1px solid #1f2b48;
        height: 80vh;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        background-color: #1f2b48;
        margin-top: 4%;
        border-radius: 7px;
    }
}
@media only screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-around;
        color: white;
    }

    #left {
        font-size: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        margin-left: -21%;
        margin-top: 4%;
        letter-spacing: 0.08em;
        line-height: 1em;
    }

    #right {
        font-size: 0.7rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.3em;
        margin-right: -50%;
        margin-top: 6%;
    }

    #lbtn {
        margin-top: 5.5%;
        margin-right: -18%;
    }
    #bar{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid #1f2b48;
        background-color: #1f2b48;
        width: 90%;
        border-radius:7px;
        margin-right: auto;
        margin-left: auto;
        height:9vh;
        margin-top: 4%;
    }
    ::placeholder {
        font-size: 1.7rem;
        color: white;
        font-family: FontAwesome;
    }
    #search_bar{
        width:90%;
        box-sizing: border-box;
        height: 7vh;
        border:none;
        margin-right: auto;
        margin-left: auto;
        margin-top:1%;
        outline: none;
        letter-spacing: 0.03em;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        background-color: #1f2b48;
        padding: 1%;
    }
    #search{
        height: 7vh;
        border: none;
        outline: none;
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 1%;
        background-color: #0177fe;
        color: white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.03rem;
        border-radius: 4px;
        padding: 3%;

    }
    section {
        border: 1px solid #1f2b48;
        height: 80vh;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        background-color: #1f2b48;
        margin-top: 4%;
        border-radius: 7px;

    }

}
@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        color: white;
        margin-top: 3%;
    }

    #left {
        font-size: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        margin-left: -23%;
        margin-top: 4%;
        letter-spacing: 0.2em;
        line-height: 1em;
    }

    #right {
        font-size: 0.7rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.3em;
        margin-right: -55%;
        margin-top: 5%;
    }

    #lbtn {
        margin-top: 5%;
        margin-right: -22%;
    }
    #bar{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid #1f2b48;
        background-color: #1f2b48;
        width: 90%;
        border-radius:9px;
        margin-right: auto;
        margin-left: auto;
        height:8vh;
        margin-top: 4%;
    }
    ::placeholder {
        text-indent: 2%;
        font-size: 1.7rem;
        color: white;
        font-family: FontAwesome;
    }
    #search_bar{
        width:90%;
        box-sizing: border-box;
        height: 5vh;
        border:none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0.4%;
        outline: none;
        letter-spacing: 0.03em;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        background-color: #1f2b48;
        padding-top: 4%;
        padding-left: 4%;
    }
    #search{
        box-sizing: border-box;
        height: 4vh;
        border: none;
        outline: none;
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0.8%;
        background-color: #0177fe;
        color: white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.03rem;
        border-radius: 4px;
        padding: 2.5%;

    }
    section {
        border: 1px solid #1f2b48;
        height: 80vh;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        background-color: #1f2b48;
        margin-top: 4%;
        border-radius: 9px;
    }
}
@media only screen and (min-width: 992px) {
    header {
        display: flex;
        justify-content: space-around;
        color: white;
        margin-top: 1%;
    }
    #left {
        font-size: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        margin-left: -26%;
        margin-top: 6%;
        letter-spacing: 0.2em;
        line-height: 1em;
    }

    #right {
        font-size: 0.7rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.3em;
        margin-right: -61%;
        margin-top: 7%;
    }

    #lbtn {
        margin-top: 7%;
        margin-right: -24%;
    }

    #bar{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid #1f2b48;
        background-color: #1f2b48;
        width: 90%;
        border-radius:9px;
        margin-right: auto;
        margin-left: auto;
        height:10vh;
        margin-top: 2%;
    }
    ::placeholder {
        text-indent: 2%;
        font-size: 1.7rem;
        color: white;
        font-family: FontAwesome;
    }
    #search_bar{
        width:90%;
        box-sizing: border-box;
        height: 5vh;
        border:none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0.4%;
        outline: none;
        letter-spacing: 0.03em;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        background-color: #1f2b48;
        padding-top: 3%;
        padding-left: 4%;
        color:white;
    }
    #search{
        box-sizing: border-box;
        height: 3vh;
        border: none;
        outline: none;
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0.5%;
        background-color: #0177fe;
        color: white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.03rem;
        border-radius: 4px;
        padding: 2%;
    }
    section {
        box-sizing: border-box;
        border: 1px solid #1f2b48;
        height: 80vh;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        background-color: #1f2b48;
        margin-top: 2%;
        border-radius: 9px;
        padding-left: 6%;
        padding-top: 1%;
    }

    img{
        border-radius: 50%;
        width:12%;
        height: 13vh;
        vertical-align: middle;
    }
    #nameDate{
        display: flex;
        justify-content: space-between;
    }
}
/*@media only screen and (min-width: 1200px) {
    header {
        display: flex;
        justify-content: space-around;
        color: white;
        margin-top: 2%;
    }

    #left {
        font-size: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        margin-left: -27%;
        margin-top: 6%;
        letter-spacing: 0.2em;
        line-height: 1em;
    }
    #right {
        font-size: 0.7rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.3em;
        margin-right: -63%;
        margin-top: 7%;
    }

    #lbtn {
        margin-top: 7%;
        margin-right: -24%;
    }

    #bar{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid #1f2b48;
        background-color: #1f2b48;
        width: 90%;
        border-radius:9px;
        margin-right: auto;
        margin-left: auto;
        height:5vh;
        margin-top: 2%;
    }
    ::placeholder {
        text-indent: 2%;
        font-size: 1.7rem;
        color: white;
        font-family: FontAwesome;
    }
    #search_bar{
        width:90%;
        box-sizing: border-box;
        height: 4vh;
        border:none;
        margin-right: auto;
        margin-left: auto;
        outline: none;
        letter-spacing: 0.03em;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        background-color: #1f2b48;
        padding-top: 3%;
        padding-left: 4%;
        color:white;
    }
    #search{
        box-sizing: border-box;
        height: 4vh;
        border: none;
        outline: none;
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0.5%;
        background-color: #0177fe;
        color: white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.03rem;
        border-radius: 4px;
        padding: 2%;
    }
    section {
        border: 1px solid #1f2b48;
        height: 80vh;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        background-color: #1f2b48;
        margin-top: 2%;
        border-radius: 9px;
    }
}
